#page-video, #page-welcome-text, #page-questions, #page-free, #page-score,#page-required,  .ui-panel-wrapper {
	background-image: url(../img/background_opacity.png) !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
 	background-size:350px 428px !important;
}

#panel-fixed-page1 , #panel-fixed-page1 .ui-panel-wrapper {
	background-image: url(../img/background_opacity.png) !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
 	background-size:350px 428px !important;
}

.ui-page {
    -webkit-backface-visibility: hidden;
}

b {
	font-weight: bold;
}